body {
    margin: 0; 
    padding: 0;
    background-color: indianred;
}

#nav-bar {
    width: 1300px;
    background-color: darkmagenta;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    height: 60px;
}

#welcomebanner {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#nav p {
    padding: 5px;
}

#h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#credentials {
    width: 200px;
    height: 100px;
    background-color: darkmagenta;
    display: flex;
    justify-content: space-evenly
    
}

#input1 {
    width: 100px;
    height: 10px;
    background-color: gray;
    display: flex;
    justify-content: space-evenly
}